
@{
    ViewBag.Title = "Welcome";
}

<h2>Hello <b>@Context.User.Identity.Name</b>! Welcome to Data Lake Provider Enrollment App!</h2>

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>